<%= form_for([current_club, @season]) do |f| %>

<div class="form-group">
  <%= f.label :season %><br>
  <%= f.date_select :year, { discard_day: true, discard_month: true}, class: "form-control" %>
</div>
<%= f.hidden_field :club_id, value: current_club.id %>

<div class="actions">
  <input type="submit" name="commit" value="New Season" class: "form-control">
</div>

<% end %>
