<div class="container-fluid new_athlete">
      <header>
    <div class="row">
      <div class="col-md-5"><h1>Teammake</h1></div>
      <div class="col-md-1 col-md-offset-5 dropdown">
      <a class="drop-down-menu" href="#">
        <i class="fa fa-bars fa-4x"></i>
      </a>


        <ul class="drop-nav">
          <%= link_to root_path do %>
            <li>Home</li>
          <% end %>

          <%= link_to sessions_login_club_path do %>
            <li>Club Login</li>
          <% end %>

          <%= link_to sessions_login_athlete_path do %>
            <li>Athlete Login</li>
          <% end %>

            <li>Log Out</li>


        </ul>
      </div>
    </div>
  </header>
  <%= render 'athlete_form' %>
</div>
