/*h1 {
  font-family: "Titillium Web";
  font-weight: 900;
}*/



p {
  font-family: "Titillium Web";
  font-weight: 300;
}

.sales .col-md-4 {
  text-align: center;
  padding-top: 4em;
}


a:hover {
  text-decoration: none;
}

.register button a {
  font-size: 2em;
  padding: 4em;
}

.container-fluid {
  width: 100%;
  padding-left: 0;
  padding-right: 0;

}

.container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}



header {
  width: 100%;
  height: 6em;
  padding-left: 0;
  margin-left: 0;
  background-color: black;
  color: white;
  position: fixed;
  margin-bottom: 2em;
  display: inline-block;
  z-index: 1;
}

header h1 {
  font-family: "Titillium Web";
  font-weight: 900;
}

.container-fluid header h1 {
  font-family: "Titillium Web";
  font-weight: 900;
  font-size: 3.5em;
  padding: 0;
  margin: 0;
  padding-left: 1em;
  padding-top: 0.25em;
  width: 50%;
}

header .fa .fa-bars {
  color: white;
  padding: 0;
  margin: 0;
}



.landing_body {
  width: 100%;
  border: 1px solid black;
  height: 50em;
  /*background-image: url('epicvbpicoriginal.jpg');*/
  background-color: #2b9af3;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}


.landing_body .register {
  border: 0;
  text-align: center;
  height: 75%;
  width: 80%;
  background-color: white;
  margin-top: 9em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: black;
}

.register .col-md-5 {
  background-color: black;
  color: white;
  margin: 2.5em;
  padding: 1em;
}

.col-md-5.club_register {
    margin-top: 8em;

}

.col-md-5.login {
    margin-top: 8em;

}

.club_register button.club_sign_up {
  background-color: green;
  color: white;
  border: 0;
}

.club_register button.club_sign_up a {
  color: white;
}

.club_register button.club_sign_up a:hover {
  color: black;
}

.register button.athlete_sign_up {
  background-color: red;
  color: white;
  border: 0;
}

.register button.athlete_sign_up a {
  color: white;
}

.register button.athlete_sign_up a:hover {
  color: black;
}

.register a {
  color: black;
}

.register a:hover {
  color: #2b9af3;
}


.sales {
  height: 30em;
}


.club_form {
  text-align: center;
  background-color: #2b9af3;
  height: 60em;
  padding: 2em;
}

.club_form_h1 {
  text-align: center;
}

.club_form .form-group {
  margin: 3em;
}

.club_form .form-group input {
  padding: 2em;
}

.actions input {
  border: 0;
  color: white;
  font-size: 2em;
  padding: 1em;
  background: yellow;
}






















