/*h1 {
  font-family: "Titillium Web";
  font-weight: 900;
}*/



p {
  font-family: "Titillium Web";
  font-weight: 300;
}

header .dropdown {
  margin-top: 12px;
  margin-left: 40em;

}

header .dropdown a {
    color: white;
}

.dropdown {
  position: relative;
}

.dropdown:after {
  font-size: 1em;

}

.drop-nav {
  position: absolute;
  display:none;
  width: 20em;
  height: 10em;
}

.drop-nav li {
  list-style: none;
  border-bottom: 1px solid black;
  background-color: rgba(0, 0, 0, 0.70);
  padding: 20px;
  font-family: 'Open Sans';
  font-weight: bold;
}

.drop-nav li:hover {
  background-color: black;
}


.dropdown:hover > .drop-nav {
  display: block;
}


.sales .col-md-4 {
  text-align: center;
  padding-top: 4em;
}


a:hover {
  text-decoration: none;
}

.register button a {
  font-size: 2em;
  padding: 4em;
}

.container-fluid {
  width: 100%;
  padding-left: 0;
  padding-right: 0;

}

.container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

header {
  width: 100%;
  height: 6em;
  padding-left: 0;
  margin-left: 0;
  background-color: black;
  color: white;
  position: fixed;
  margin-bottom: 2em;
  display: inline-block;
  z-index: 1;
}

header h1 {
  font-family: "Titillium Web";
  font-weight: 900;
}

/*.container-fluid h1 {
  font-family: "Titillium Web";
  font-weight: 900;
  font-size: 3.5em;
  padding: 0;
  margin: 0;
  padding-left: 1em;
  padding-top: 0.25em;
  width: 50%;
}*/

header .fa .fa-bars {
  color: white;
  padding: 0;
  margin-top: 0;
}

#home-title h1 {
  font-family: "Titillium Web";
  font-weight: 900;
  color: white;
  font-size: 6em;
  text-align: center;
  background-color: rgba(0,0,0,0.75);
  padding: 0.25em;
  margin-top: -0.1em;
}



.landing_body {
  width: 100%;
  border: 1px solid black;
  height: 50em;
  background-image: url('baseteam.jpg');

  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}


.landing_body .register {
  border: 0;
  text-align: center;
  height: 8em;
  width: 6em;
  background-color: white;
  margin-top: 9em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: black;
}

.register .col-md-5 {
  background-color: black;
  color: white;
  margin: 2.5em;
  padding: 1em;
}

.col-md-5.club_register {
    margin-top: 8em;

}

.col-md-5.login {
    margin-top: 8em;

}

.club_register button.club_sign_up {
  background-color: green;
  color: white;
  border: 0;
}

.club_register button.club_sign_up a {
  color: white;
}

.club_register button.club_sign_up a:hover {
  color: black;
}

/*.register button.athlete_sign_up {
  background-color: red;
  color: white;
  border: 0;
}

.register button.athlete_sign_up a {
  color: white;
}

.register button.athlete_sign_up a:hover {
  color: black;
}

.register a {
  color: black;
}

.register a:hover {
  color: #2b9af3;
}*/


.sales {
  height: 24em;
  background-color: #fff;
}

.sales i {
  color: #337ab7;
}

.login-forms {
  background-color: rgba(0,0,0,0.70);
  width: 42em;
  height: 24em;
  text-align: center;
  color: white;  
  border-radius: 0.5em;
  margin-top: 20em;
}

.login-forms h2 {
  color: white;
}

.login-forms h4 {
  color: white;
}

.login-forms input {
  border: 0;
  border-radius: 0.25em;
  padding: 10px;
  padding-right: 5em;
}


.col-md-2.login h2 {
  color: white;
}

.col-md-2.login {
  width: 18em;
  margin: 0 auto;
  color: black;
  padding-left: 3.5em;
}

.home-login input {
  background-color: #22A7F0;
  border: 0;
  border-radius: 0.25em;
  color: white;
  font-family: "Open Sans";
  padding-right: 0.75em;
  margin-left: 0.5em;
}

.from-group {
  text-align: center;
}

.btn.btn-success.btn-sm {
  margin-top: 5px;
  border-radius: 0.25em;
  background-color: #5cb85c;
  font-size: 1em;
  margin-top: -0.25em;
  padding-right: 0.75em;
}

.about-us-header {
  text-align: center;
}

.about-us {
  width: 100%;
  height: 40em;
  background-color: white;
}

.about-us .col-md-4 {
  /*border: 1px solid black;*/
  text-align: center;
}

.product-show-header{
  text-align: center;
}

.product-show {
  background-color: white;
  width: 100%;
  height: 30em;
}

.product-show .col-md-6 {
  border: 1px solid black;
  text-align: center;
}

.about-us {
  background-color: #337ab7;
  color: white;
}

.about-us i {
  color: white;
}

.about-us .col-md-2 {
  width: 6em;
  margin-left: -1em;

}


.about-us i:hover {
  color: #f1f1f1;
}

.about-us h5 {
  font-style: italic;
}

.about-us-image {
  border-radius: 25%;
  height: 18em;
  width: 13em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 3em;
}

.about-us-name h2 {
 color: white;
}


#one {
  background-image: url("jose_cartagena_BW.jpg");
}

#two {

  background-image: url("daniel_munoz_BW.jpg");
}

#three {
  background-image: url("matthew_rothstein.jpg");
}













