<h4>Search Through All Available Athletes</h4>
<%= form_tag sites_search_path do %>
<%= search_field_tag :Athlete %>
<%= submit_tag "Search", class: "btn btn-success" %>
<% end %>

<h2>Search Results</h2>
<% if @results.blank? %>
<p>No Athletes Found.</p>
<%else%>
<% @results.each do |athlete| %>
<%= athlete %>
<br>
<%end%>
<%end%>
</div>
